<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BLAA
    </title>
</head>

<body>
    <app-root id="approot"></app-root>

    <%
    if (manifest) {
    %>
    <script type="text/javascript" src="<%= manifest['runtime.js'] %>"></script>
    <script type="text/javascript" src="<%= manifest['polyfills.js'] %>"></script>
    <script type="text/javascript" src="<%= manifest['vendor.js'] %>"></script>
    <script type="text/javascript" src="<%= manifest['app.js'] %>"></script>
    <%
    }
    %>
</body>

</html>
