<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>BLAA
  </title>
</head>

<body>
  <app-root id="approot"></app-root>



  <script type="text/javascript" src="/runtime.js"></script>
  <script type="text/javascript" src="/vendors~polyfills.js"></script>
  <script type="text/javascript" src="/polyfills.js"></script>
  <script type="text/javascript" src="/vendors~app.js"></script>

  <script type="text/javascript" src="/app.js"></script>
</body>

</html>
